<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>
        Buy Micellar Casein - Canadian Protein
    </title>

<section id="pageContent">



                                    <div class="proBoxInfo">

<h1>Micellar Casein</h1>
<div style="margin-bottom:20px">
</div>


<div class="proPrice rowFlex flexAlignCenter">
    <span id="ProductPrice" class="priceProduct ">
        <span class=money>$159.99</span>
    </span></div><div class="wrapper"><form method="post" action="/cart/add" id="oldID" accept-charset="UTF-8" class="NOTformAddToCart" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product" /><input type="hidden" name="utf8" value="✓" />
  <div id="esc-oos-form"></div><div class="proVariants">
            <select name="id" id="productSelect">

